<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @blog_post.title %>
  </div>
  <div class="panel-body">
    <p> <%= @blog_post.user.email %> </p>
    <p> <%= @blog_post.blog_entry %> </p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Edit', edit_blog_post_path(@blog_post),class:"btn btn-warning" %>
    <%= link_to 'Destroy', method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Write a comment
  </div>
  <div class="panel-body">
    <%= render 'comments/form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comments</h4>
  </div>
  <% @blog_post.comments.each do |comment|%>
    <div class="panel-body">
      <p class="timestamp"><%= comment.updated_at.strftime('%x')%> at <%= comment.updated_at.strftime('%r')%>   <strong><%= comment.user.email %></strong> said: </p>
      <p> <%= comment.comment_entry %>
      <%= link_to "Edit", edit_blog_post_comment_path(@blog_post, comment), class:"btn btn-default" %>
      <%= link_to 'Delete', [comment.blog_post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
    </div>
  <% end %>
</div>


<%= link_to 'Back', blog_posts_path %>
